<table class="w-full">
  <tr>
    <td class="px-5 pb-10">
      <table>
        <tr>
          <td class="w-full sm-w-full text-center">
            <x-image class="w-[560px]" imgUrl="Hero_Image.png" />
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-[20px]">
              &nbsp;
            </p>
          </td>
        </tr>
        <tr>
          <td class="text-[#005555] text-[24px] leading-[28px] font-bold text-center">Excepteur sint occaecat cupidatat</td>
        </tr>
        <tr>
          <td>
            <p class="text-[20px]">
              &nbsp;
            </p>
          </td>
        </tr>
        <tr>
          <td class="text-[#444444] text-[16px] leading-[18px] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-[20px]">
              &nbsp;
            </p>
          </td>
        </tr>
        <tr>
          <td class="justify-items-center">
            <table>
              <tr>
                <x-button width="350" height="46" leading="24" padding="10px" rounded="10" bgColor="#008080" href="#" class="font-bold text-white text-[20px] xs:w-full">Ut enim ad minim veniam</x-button>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>